{{partial "jobs/job/subnav"}}
<section class="section">
  {{#link-to "jobs.job.edit" job class="button is-primary"}}Edit{{/link-to}}
  <div class="boxed-section">
    <div class="boxed-section-body is-full-bleed">
      {{json-viewer data-test-definition-view json=model.definition}}
    </div>
  </div>
</section>
