{{#global-header class="page-header"}}
  {{#each breadcrumbs as |breadcrumb|}}
    <a href="{{href-to-spread breadcrumb.args}}" class="breadcrumb">{{breadcrumb.label}}</a>
  {{/each}}
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <div class="tabs is-subnav">
    <ul>
      <li>{{#link-to "jobs.job.index" model.job activeClass="is-active"}}Overview{{/link-to}}</li>
      <li>{{#link-to "jobs.job.definition" model.job activeClass="is-active"}}Definition{{/link-to}}</li>
    </ul>
  </div>
  <section class="section">
    <div class="boxed-section">
      <div class="boxed-section-body is-dark">
        {{json-viewer json=model.definition}}
      </div>
    </div>
  </section>
{{/gutter-menu}}
