{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Job " this.job.name " deployments"}}
<JobSubnav @job={{this.job}} />
<section class="section">
  <JobDeploymentsStream @deployments={{this.model.deployments}} />
</section>
