{{#global-header class="page-header"}}
  {{#each breadcrumbs as |breadcrumb|}}
    {{#link-to params=breadcrumb.args class="breadcrumb"}}{{breadcrumb.label}}{{/link-to}}
  {{/each}}
{{/global-header}}
{{#gutter-menu class="page-body"}}
  {{partial "jobs/job/subnav"}}
  <section class="section has-text-centered">{{partial "partials/loading-spinner"}}</section>
{{/gutter-menu}}
