{{#global-header class="page-header"}}
  {{app-breadcrumbs}}
{{/global-header}}
{{#gutter-menu class="page-body" onNamespaceChange=(action "gotoJobs")}}
  {{partial "jobs/job/subnav"}}
  <section class="section">
    {{job-versions-stream versions=model.versions verbose=true}}
  </section>
{{/gutter-menu}}
