<div class="columns">
  <div class="column is-half">
    <div class="message">
      <div class="message-header">
        Tags
      </div>
      <table class="table server-tags">
        <thead>
          <tr>
            <td>Name</td>
            <td>Value</td>
          </tr>
        </thead>
        <tbody>
          {{#each-in model.tags as |name value|}}
            <tr>
              <td>{{name}}</td>
              <td>{{value}}</td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    </div>
  </div>
</div>
