.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox * {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.42857143;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h1,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h2,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h3,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h4,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h5,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox h6 {
  line-height: 1.1;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner {
  background-color: black;
  color: white;
  font-family: 'klavika-web', 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner
  > .container {
  align-items: center;
  display: flex;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner
  .text-muted {
  color: #a4b1b2;
  font-family: metro-web;
  font-weight: 500;
  margin-right: 5px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner-logo {
  opacity: 1;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner-logo:hover {
  opacity: 0.7;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner-logo
  > img {
  height: 25px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner-item:first-child {
  display: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-banner-item:last-child {
  margin-left: auto;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tagline {
  align-items: center;
  display: inline-flex;
  margin-bottom: 0;
  vertical-align: -1px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tagline
  > img {
  margin: 0 0.375em 0 0.5em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox .mega-nav {
  display: inline-block;
  font-family: 'klavika-web', 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.35714;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h1,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h2,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h3,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h4,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h5,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  h6,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  ul,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  p {
  margin-top: 0;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  img {
  max-width: 100%;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox .mega-nav,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  * {
  box-sizing: border-box;
  transition: background-color 0.25s ease, border-color 0.25s ease,
    color 0.25s ease, fill 0.25s ease, transform 0.25s ease, stroke 0.25s ease;
}
.mega-nav-tagline
  + .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav {
  margin-left: 0.57143em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav
  .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  width: 1em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-icon-angle-right {
  height: 0.8em;
  transform: rotate(-90deg);
  width: 0.8em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .open
  > .mega-nav-ctrl
  .mega-nav-icon-angle-right {
  transform: rotate(0);
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl {
  background-color: transparent;
  border: 0;
  margin-left: 0.5em;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl:hover {
  opacity: 0.8;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl:active,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl:visited {
  outline: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl
  strong {
  margin: 0 0.8em 0px 0.5em;
  color: white;
  font-family: klavika-web, sans-serif;
  font-size: 0.9rem;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-ctrl-items {
  align-items: center;
  display: flex;
  padding-top: 1px;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-icon-outline {
  border: 1px solid;
  margin-top: -1px;
  padding: 0.5em;
  color: white;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-icon-outline
  .mega-nav-icon {
  display: block;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-body-ct {
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1100;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav.open
  .mega-nav-body-ct {
  display: block;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-body {
  background-color: white;
  box-shadow: 0 2px 16px rgba(79, 99, 122, 0.2);
  color: black;
  margin: 1em;
  padding: 1em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-body-footer {
  color: #a4b1b2;
  display: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-body-footer
  > :last-child {
  margin-bottom: 0;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-close {
  background-color: transparent;
  border: 1px solid currentColor;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  text-align: center;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-close:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-close:focus {
  color: #333333;
  outline: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-close:active {
  outline: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-close
  .mega-nav-icon {
  display: block;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-h1 {
  font-size: 1.28571em;
  font-weight: bold;
  margin-bottom: 0.11111em;
  text-transform: uppercase;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-h2 {
  color: #a4b1b2;
  font-size: 1.14286em;
  font-weight: 500;
  margin-bottom: 1.1875em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: metro-web, Metro;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-h3 {
  color: #a4b1b2;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid {
  list-style: none;
  margin-bottom: 1em;
  padding-left: 0;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid
  > li {
  display: flex;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item {
  align-items: center;
  border: 1px solid #d4dcdd;
  display: flex;
  margin-bottom: -1px;
  min-height: 3.57143em;
  padding: 0.28571em 0.71429em;
  position: relative;
  width: 100%;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item.is-active {
  color: inherit;
  text-decoration: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item.is-active {
  border-color: #bfc6c7;
  z-index: 1;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item
  > b {
  display: block;
  font-size: 1.28571em;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item
  > ul {
  list-style: none;
  margin-left: auto;
  padding-left: 0;
  text-align: right;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item
  > ul
  > li
  + li {
  margin-top: 0.28571em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant.is-active {
  border-color: #1563ff;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer.is-active {
  border-color: #1daeff;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform.is-active {
  border-color: #5c4ee5;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault.is-active {
  border-color: #000;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad.is-active {
  border-color: #25ba81;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul:focus,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul.is-active {
  border-color: #c62a71;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-img {
  margin-right: 0.67857em;
  text-align: center;
  width: 2em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-img
  > img {
  max-height: 2em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag {
  background-color: white;
  border: 1px solid currentColor;
  color: #a4b1b2;
  display: inline-block;
  font-size: 0.85714em;
  line-height: 1;
  font-weight: 500;
  padding: 0.16667em 0.25em;
  text-transform: uppercase;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag:focus {
  background-color: #949fa0;
  border-color: #949fa0;
  color: white;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vagrant.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-vagrant:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-vagrant:focus {
  background-color: #1563ff;
  border-color: #1563ff;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-packer.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-packer:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-packer:focus {
  background-color: #1daeff;
  border-color: #1daeff;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-terraform.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-terraform:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-terraform:focus {
  background-color: #5c4ee5;
  border-color: #5c4ee5;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-vault.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-vault:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-vault:focus {
  background-color: #000;
  border-color: #000;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-nomad.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-nomad:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-nomad:focus {
  background-color: #25ba81;
  border-color: #25ba81;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul:hover
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul:focus
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-grid-item-consul.is-active
  .mega-nav-tag,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-consul:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-tag-consul:focus {
  background-color: #c62a71;
  border-color: #c62a71;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn {
  align-items: center;
  background-color: #1563ff;
  box-shadow: 3px 3px 0 rgba(21, 99, 255, 0.32);
  display: inline-flex;
  font-size: 1.07143em;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 1.26667em;
  padding: 0.7em 1.07143em;
  text-transform: uppercase;
  width: 100%;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:focus {
  color: white;
  text-decoration: none;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:hover,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:focus {
  background-color: #2c73ff;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn
  > img:first-child {
  margin-right: 0.63333em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn
  > svg:last-child {
  margin-left: 0.63333em;
}
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:hover
  > .mega-nav-icon-angle-right:last-child,
.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
  .mega-nav-btn:focus
  > .mega-nav-icon-angle-right:last-child {
  transform: translateX(3px) rotate(-90deg);
}
@media (min-width: 570px) {
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-btn {
    margin-bottom: 2.53333em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body {
    padding: 2em 2em 1em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(1) {
    width: 100%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(2) {
    width: 33.33333%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(3) {
    width: 33.33333%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(4) {
    width: 33.33333%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h1 {
    font-size: 2em;
    margin-bottom: 0.07143em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h2 {
    font-size: 1.28571em;
    margin-bottom: 1.05556em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h3 {
    color: black;
    font-size: 1.28571em;
    font-weight: bold;
    margin-bottom: 0.64286em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid {
    border: 0;
    display: flex;
    margin-bottom: 2.71429em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid
    > li {
    flex-grow: 1;
    margin-bottom: -1px;
    margin-right: -1px;
    width: calc(100% + 1px);
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item {
    display: block;
    border: 1px solid #d4dcdd;
    margin-bottom: 0;
    padding: 1.35714em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item
    > ul {
    text-align: center;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item
    > ul {
    display: flex;
    justify-content: center;
    margin-top: 1.35714em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item
    > ul
    > li
    + li {
    margin-left: 0.67857em;
    margin-top: 0;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-img {
    margin-right: 0;
    width: auto;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-img
    > img {
    max-height: 4.71429em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-tag {
    font-size: 1em;
    padding: 0.14286em 0.21429em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-banner-item:first-child {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav {
    position: relative;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav::before {
    border-bottom: 1em solid white;
    border-left: 0.71429em solid transparent;
    border-right: 0.71429em solid transparent;
    content: ' ';
    display: none;
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    z-index: 1101;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav.open::before {
    display: block;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-btn {
    margin-bottom: 1.26667em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-ct {
    bottom: auto;
    left: auto;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 100%;
    width: 940px;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body {
    margin: 1em 0 0;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-header {
    display: flex;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-header-item:last-child {
    margin-left: auto;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-footer {
    display: block;
    padding-top: 1em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h2 {
    margin-bottom: 2.11111em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid {
    position: relative;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid::before {
    background-color: #d4dcdd;
    content: ' ';
    height: 1px;
    left: -2em;
    margin-top: -0.78571em;
    position: absolute;
    right: -2em;
    top: 100%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(1) {
    width: 50%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(2) {
    width: 16.66667%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(3) {
    width: 16.66667%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-grid-item:nth-child(4) {
    width: 16.66667%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-close {
    display: none;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h3 {
    padding-left: 1.05556em;
    padding-top: 0.52778em;
    position: relative;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-h3::before {
    background-color: #d4dcdd;
    content: ' ';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0.67857em;
    top: 0;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid {
    margin-bottom: 2.42857em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item {
    position: relative;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item::before {
    background-color: #d4dcdd;
    content: ' ';
    height: 1px;
    left: 0;
    margin-top: 1.64286em;
    position: absolute;
    right: 0;
    top: 100%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item.is-active::before {
    background-color: #bfc6c7;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item
    > ul {
    left: 0;
    margin-top: 0;
    padding-top: 1em;
    position: absolute;
    right: 0;
    top: 100%;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item
    > ul
    > li
    + li {
    margin-left: 1.14286em;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vagrant:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vagrant:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vagrant.is-active::before {
    background-color: #1563ff;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-packer:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-packer:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-packer.is-active::before {
    background-color: #1daeff;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-terraform:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-terraform:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-terraform.is-active::before {
    background-color: #5c4ee5;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vault:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vault:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-vault.is-active::before {
    background-color: #000;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-nomad:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-nomad:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-nomad.is-active::before {
    background-color: #25ba81;
  }
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-consul:hover::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-consul:focus::before,
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-grid-item-consul.is-active::before {
    background-color: #c62a71;
  }
}
@media (min-width: 1200px) {
  .mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox.mega-nav-sandbox
    .mega-nav-body-ct {
    width: 1140px;
  }
}
