<div class="level">
  <div class="level-item has-text-centered client-metric">
    <div>
      <h3 class="title is-1">{{nodes.length}}</h3>
      <p class="heading">Clients</p>
    </div>
  </div>
  <div class="level-item has-text-centered server-metric">
    <div>
      <h3 class="title is-1">{{agents.length}}</h3>
      <p class="heading">Servers</p>
    </div>
  </div>
  <div class="level-item is-pulled-right">
    <div class="field has-addons node-type-switcher">
      <p class="control">
        {{#link-to "nodes.index" class="button is-white clients" activeClass="is-primary"}}Clients{{/link-to}}
      </p>
      <p class="control">
        {{#link-to "nodes.servers" class="button is-white servers" activeClass="is-primary"}}Servers{{/link-to}}
      </p>
    </div>
  </div>
</div>
