<div class="container">
  <section class="section">
    {{partial "nodes/actions"}}
    <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Status</td>
          <td>Address</td>
          <td>Port</td>
          <td>Datacenter</td>
          <td># Allocs</td>
        </tr>
      </thead>
      <tbody>
        {{#each nodes as |node|}}
          {{client-node-row node=node}}
        {{/each}}
      </tbody>
    </table>
  </section>
</div>
