{{#global-header class="page-header"}}
  Nodes
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <section class="section">
    {{partial "nodes/actions"}}
    {{search-box searchTerm=(mut searchTerm) placeholder="Search nodes..."}}
    {{#list-pagination
      source=sortedNodes
      size=pageSize
      page=currentPage as |p|}}
      {{#list-table source=p.list sortProperty=sortProperty sortDescending=sortDescending as |t|}}
        {{#t.head}}
          {{#t.sort-by prop="id"}}ID{{/t.sort-by}}
          {{#t.sort-by prop="name"}}Name{{/t.sort-by}}
          {{#t.sort-by prop="status"}}Status{{/t.sort-by}}
          <th>Address</th>
          <th>Port</th>
          {{#t.sort-by prop="datacenter"}}Datacenter{{/t.sort-by}}
          <th># Allocs</th>
        {{/t.head}}
        {{#t.body as |row|}}
          {{client-node-row node=row.model}}
        {{/t.body}}
      {{/list-table}}
      <nav class="pagination is-centered">
        <ul class="pagination-list">
          {{#p.first class="pagination-link"}} |&lt; {{/p.first}}
          {{#p.prev class="pagination-link"}} &lt; {{/p.prev}}
          {{#each p.pageLinks as |link|}}
            {{#link-to (query-params currentPage=link.pageNumber) class="pagination-link" activeClass="is-current"}}
              {{link.pageNumber}}
            {{/link-to}}
          {{/each}}
          {{#p.next class="pagination-link"}} &gt; {{/p.next}}
          {{#p.last class="pagination-link"}} &gt;| {{/p.last}}
        </ul>
      </nav>
    {{/list-pagination}}
  </section>
{{/gutter-menu}}
