<nav class="nav is-secondary">
  <div class="nav-left breadcrumbs">
    <a href="{{href-to "nodes"}}" class="breadcrumb">Nodes</a>
    <span class="breadcrumb">{{model.name}}</span>
  </div>
</nav>
<div class="container">
</div>
