<div class="container">
  <section class="section">
    {{partial "nodes/actions"}}
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Status</td>
          <td>Leader</td>
          <td>Address</td>
          <td>Port</td>
          <td>Datacenter</td>
        </tr>
      </thead>
      <tbody>
        {{#each agents as |agent|}}
          {{server-agent-row agent=agent}}
        {{/each}}
      </tbody>
    </table>
  </section>
  <section class="section">
    {{outlet}}
  </section>
</div>
