{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#let (cannot "exec allocation" namespace=this.job.namespace) as |cannotExec|}}
  <div
    class="exec-open-button"
    {{keyboard-shortcut
      label="Exec"
      pattern=(array "e" "x" "e" "c")
      action=this.open
    }}
  >
  <Hds::Button
    data-test-exec-button
    @size="medium"
    @text="Exec"
    @color="secondary"
    disabled={{cannotExec}}
    {{on "click" this.open}}
    @icon="terminal-screen"
  />
</div>
{{/let}}

