{{#global-header class="page-header"}}
  <li class="is-active">
    {{#link-to "clients.index"}}Clients{{/link-to}}
  </li>
{{/global-header}}
{{#gutter-menu class="page-body"}}
  <section class="section has-text-centered">{{partial "partials/loading-spinner"}}</section>
{{/gutter-menu}}
