.g-alert-banner {
  background: var(--nomad);
  color: var(--white);
  display: none;
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease-out;

  &.show {
    display: block;
  }

  & svg path {
    stroke: var(--nomad-l1);
  }

  &.has-large-tag {
    & > div {
      @media (max-width: 575px) {
        flex-direction: column;
      }
    }

    & .text {
      @media (max-width: 575px) {
        margin-right: 0;
        margin-top: 8px;
      }
    }
  }

  & > a {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  & > div {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
  }

  & .tag {
    margin: 5px 16px 0 0;
    flex-shrink: 0;

    & span {
      color: var(--white);
      opacity: 0.73;
    }

    @media (max-width: 768px) {
      margin-right: 18px;
    }
  }

  & .text {
    margin-right: 38px;

    & span {
      margin-right: 28px;
    }
  }

  & .g-btn {
    & .text {
      margin: 0;

      & span {
        margin: 0;
      }
    }

    &.variant-tertiary-neutral.background-dark .icon svg [stroke] {
      stroke: var(--nomad-l2);
    }
  }

  & .link-text {
    text-decoration: underline;
    white-space: nowrap;

    @media (max-width: 992px) {
      display: none;
    }
  }

  & .close {
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 16px;
    z-index: 2;

    & path {
      stroke: var(--nomad-l2);
    }

    @media (max-width: 768px) {
      right: 24px;
    }
  }
}
