# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    labels:
      - "theme/dependencies"
  - package-ecosystem: gomod
    directory: "/api"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    labels:
      - "theme/dependencies"
      - "theme/api"
  - package-ecosystem: npm
    directory: "/ui"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    labels:
      - "theme/dependencies"
      - "theme/ui"
