{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div data-test-chart-tooltip class="chart-tooltip {{if @active "active" "inactive"}}" style={{@style}} ...attributes>
  <ol>
    {{#each @data as |props|}}
      {{yield props.series props.datum (inc props.index)}}
    {{/each}}
  </ol>
</div>
