/**
 * Copyright IBM Corp. 2015, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.breadcrumb {
  margin: 0 1.5rem;

  a {
    text-decoration: none;
    color: var(--token-color-foreground-primary);
    font-weight: $weight-semibold;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: var(--token-color-foreground-strong);
    }

    &:focus-visible {
      outline: 3px solid var(--token-color-foreground-action);
      outline-offset: 2px;
      border-radius: 2px;
    }
  }

  ul {
    align-items: center;
  }

  li::before {
    font-size: x-large;
  }

  a.active,
  li.is-active a,
  li:last-child a.active {
    color: var(--token-color-foreground-strong);
    font-weight: $weight-semibold;
  }
}

.navbar.is-secondary .breadcrumb {
  a,
  a:visited,
  .breadcrumb-link,
  .breadcrumb-link:visited {
    color: var(--token-color-foreground-strong);
  }

  a:hover,
  a:focus,
  a:active,
  a.active,
  a.is-active,
  .breadcrumb-link:hover,
  .breadcrumb-link:focus,
  .breadcrumb-link:active,
  .breadcrumb-link.active,
  .breadcrumb-link.is-active,
  li.is-active a,
  li:last-child a.active {
    color: var(--token-color-foreground-strong);
    font-weight: $weight-semibold;
  }

  .breadcrumb-link dt,
  .breadcrumb-link dd {
    color: var(--token-color-foreground-strong);
  }

  dl dd {
    margin: -4px 0;
    font-size: medium;
  }

  dl dt {
    font-size: small;
  }
}
