.breadcrumb {
  margin: 0 1.5rem;

  a {
    text-decoration: none;
    opacity: 0.7;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  ul {
    align-items: center;
  }

  li::before {
    font-size: x-large;
  }

  li.is-active a {
    opacity: 1;
  }

  dl dd {
    font-size: medium;
  }

  dl dt {
    font-size: small;
  }
}
