.columns {
  .column {
    &.is-vcentered {
      align-self: center;
    }

    &.is-centered {
      align-self: center;
      justify-self: center;
      text-align: center;
    }

    &.is-minimum {
      flex-grow: 0;
    }

    &.is-right-aligned {
      text-align: right;
    }
  }
}
