/**
 * Copyright IBM Corp. 2015, 2025
 * SPDX-License-Identifier: BUSL-1.1
 */

.level {
  .level-item {
    &.is-pulled-right {
      justify-content: flex-end;
    }

    &.is-pulled-left {
      justify-content: flex-start;
    }
  }
}
