.notification {
  padding: 0.5rem 1rem;
  border: 1px solid $grey-blue;

  &.is-pending {
    background: $grey-blue;
    color: findColorInvert(darken($grey-blue, 10%));
    border-color: $grey-blue;
  }

  &.is-running {
    background: lighten($blue, 40%);
    color: $blue;
    border-color: $blue;
  }

  &.is-error {
    background: lighten($danger, 50%);
    color: $danger;
    border-color: $danger;
  }

  &.is-cancelled {
    background: darken($orange, 20%);
    color: white;
    border-color: $orange;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      background: lighten($color, 50%);
      color: darken($color, 20%);
      border-color: darken($color, 20%);
    }
  }

  &.is-light {
    background: lighten($white-ter, 5%);
    color: black;
    border-color: black;
  }
}
