.tag {
  text-transform: uppercase;
  border-radius: 200px;
  font-weight: $weight-normal;
  font-size: $size-7;
  line-height: 1;
  height: 1.5em;

  &.is-pending {
    background: $grey-blue;
    color: findColorInvert(darken($grey-blue, 10%));
  }

  &.is-hollow {
    font-weight: $weight-semibold;
    color: darken($grey-blue, 20%);
    background: transparent;
  }
}
