.title {
  &.is-4,
  &.is-5,
  &.is-6 {
    margin-bottom: 0.5rem;
  }

  &.with-headroom {
    margin-top: 1rem;
  }

  &.with-subheading {
    margin-bottom: 0.85rem;
  }

  &.with-flex {
    display: flex;
    justify-content: space-between;
  }
}

// TODO: make yer own scss file

.job-actions {
  background: #eee;
  padding: 1rem;
  margin: 1.5rem 0;
  & > h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  & > div {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
  }
  button {
    position: relative;
    transition: 1s;
  }
  button.is-running {
    background-color: black !important;
    color: white;
    animation: pulse 2s infinite;
    transform: scale(1.5);
    z-index: 3;
    // use shimmer animation with multiple background colors
  }
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  30% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

// Shimmering background color keyframes with multiple background colors
@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}


