/**
 * Copyright IBM Corp. 2015, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

a {
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.hds-badge,
.hds-badge .hds-badge__text {
  color: #0b0f14 !important;
  background-color: #ffffff !important;
  border-color: #d0d7de !important;
}

code {
  color: currentcolor;
  background: transparent;
  text-transform: none;
  padding: 0;
  font-size: 1em;
}

.nowrap {
  white-space: nowrap;
}

.is-interactive {
  cursor: pointer;
}

.is-faded {
  color: $grey-dark;
}
