sudo: required
dist: trusty

services:
    - docker

language: go

go:
  - 1.7

branches:
  only:
    - master

before_install:
    - sudo apt-get update
    - sudo apt-get install -y docker-engine liblxc1 lxc-dev lxc
    - sudo apt-get install -y qemu
    - ./scripts/install_rkt.sh
    - ./scripts/install_consul.sh
    - ./scripts/install_vault.sh

install:
  - make bootstrap

script:
  - make travis
