# release configuration

/.release/                              @hashicorp/release-engineering @hashicorp/github-nomad-core @hashicorp/nomad-eng
/.github/workflows/build.yml            @hashicorp/release-engineering @hashicorp/github-nomad-core @hashicorp/nomad-eng
