{{x-icon "search" class="is-small"}}
{{#unless select.isOpen}}
  <span class='placeholder'>Jump to</span>
{{/unless}}
{{#if (not (or select.isActive select.isOpen))}}
  <span class='shortcut' title="Type '/' to search">/</span>
{{/if}}