.ecosystemCard {
  border: 1px solid var(--DEPRECATED-gray-8);
  border-radius: 2px;
  display: block;
  margin: 16px;
  overflow: hidden;
  transition: box-shadow 0.25s, transform 0.25s;

  &:focus {
    outline: 0;
  }

  &[href]:hover {
    box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
    cursor: pointer;
    transform: translateY(-4px);
  }
}

.companyInfo {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 16px 16px 44px;
  }

  @media (max-width: 512px) {
    padding: 16px;
  }
}

.companyLogo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;

  @media (max-width: 1024px) {
    height: 116px;
  }

  @media (max-width: 512px) {
    height: 42px;
  }

  & picture {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    & img {
      margin: 0 auto;
    }
  }

  & img {
    display: block;
    max-height: 70%;
    max-width: 70%;

    @media (max-width: 768px) {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.companyNameLabel {
  color: var(--gray-4);
  font-size: 15px;
  overflow: hidden;
  text-align: center;

  /* white-space: nowrap; */

  @media (max-width: 512px) {
    display: none;
  }
}

.integrationTypeLabel {
  color: var(--gray-4);
  background-color: var(--gray-7);
  border-top: 1px solid var(--gray-6);
  font-size: 13px;
  line-height: 1;
  padding: 10px 0 12px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;

  & > span:last-child {
    @media (max-width: 512px) {
      display: none;
    }
  }
}
