.comparisonCallouts {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--gray-6);
}

.content {
  composes: g-grid-container from global;
  text-align: center;
}

.description {
  margin-bottom: 64px;

  & h2 {
    margin-top: 0;
    margin-bottom: 24px;
  }
}

.details {
  margin: 0 auto;
  composes: g-type-body-large from global;
  max-width: 560px;

  & a {
    color: var(--nomad-link);
  }
}

.comparisonItems {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.comparisonItem {
  max-width: 280px;
  padding: 48px 24px;
  background-color: var(--white);
  box-shadow: 0 2px 3px rgba(37, 41, 55, 0.08);
  border: 1px solid var(--gray-5);
  border-radius: 1px;
  transition-duration: 0.25s;
  transition-property: box-shadow, transform;

  &:first-child {
    margin-right: 32px;
  }

  &:hover {
    box-shadow: 0 16px 28px rgba(37, 38, 45, 0.12);
    transform: translateY(-4px);
  }

  & h4 {
    margin-top: 22px;
    margin-bottom: 8px;
  }
}
