<section class="section">
    <h1 class="title with-flex">Hey buddy!</h1>
    <span>Here are some preset template we create for you to get started. You can also create custom templates for you or your team to use in the future.</span>
    <main data-test-template-list>PLACEHOLDER FOR RADIO CARD GROUP</main>
    {{!-- Add Conditional Logic when no templates available --}}
    <div>
        <button data-test-apply>PLACEHOLDER USE HDS</button>
        <button data-test-cancel>PLACEHOLDER USE HDS</button>
    </div>
</section>