{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<span
  class="service-status-indicator status-{{@check.Status}} tooltip is-right-aligned"
  aria-label="{{@check.Status}} at {{format-ts @check.Timestamp}}"
>
  {{#if (eq @check.Status "failure")}}
    &times;
  {{/if}}

  <span class="timestamp"><span>{{format-ts @check.Timestamp timeOnly=true}}</span></span>
</span>
