parameters:
  version:
    type: string
    default: 1.6.1
steps:
  - run:
      name: Install Consul << parameters.version >>
      command: |
        wget -q -O /tmp/consul.zip https://releases.hashicorp.com/consul/<< parameters.version >>/consul_<< parameters.version >>_linux_amd64.zip
        sudo unzip -d /usr/local/bin /tmp/consul.zip
        rm -rf /tmp/consul*
