{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: MPL-2.0
~}}

{{#if this.isOpen}}
  <div data-test-accordion-body class="accordion-body {{if this.fullBleed "is-full-bleed"}}">
    {{yield}}
  </div>
{{/if}}
