{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Task " this.model.name " logs"}}
<TaskSubnav @task={{this.model}} />
<section class="section is-full-width">
  <TaskLog data-test-task-log @allocation={{this.model.allocation}} @task={{this.model.name}} />
</section>
