{{#global-header class="page-header"}}
  <li><a href="#">Allocations</a></li>
  <li>
    {{#link-to "allocations.allocation" model.allocation}}
      {{model.allocation.shortId}}
    {{/link-to}}
  </li>
  <li class="is-active">
    {{#link-to "allocations.allocation.task" model.allocation model}}
      {{model.name}}
    {{/link-to}}
  </li>
{{/global-header}}
{{#gutter-menu class="page-body"}}
  {{partial "allocations/allocation/task/subnav"}}
  <section class="section">
    {{task-log data-test-task-log allocation=model.allocation task=model.name}}
  </section>
{{/gutter-menu}}
