{{#global-header class="page-header"}}
  {{app-breadcrumbs}}
{{/global-header}}
{{#gutter-menu class="page-body"}}
  {{partial "allocations/allocation/task/subnav"}}
  <section class="section">
    {{task-log data-test-task-log allocation=model.allocation task=model.name}}
  </section>
{{/gutter-menu}}
