{{title "Task " model.name " logs"}}
<TaskSubnav @task={{model}} />
<section class="section is-full-width">
  <TaskLog data-test-task-log @allocation={{model.allocation}} @task={{model.name}} />
</section>
