{{title "Task " model.name " logs"}}
{{partial "allocations/allocation/task/subnav"}}
<section class="section full-width-section">
  {{task-log data-test-task-log allocation=model.allocation task=model.name}}
</section>
