/* Global Component Styles */
@import '~@hashicorp/mktg-global-styles/style.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/layout.css';
@import '~@hashicorp/mktg-global-styles/_temporary-to-remove/tables.css';
@import '~@hashicorp/nextjs-scripts/prism/style.css';

:root {
  --highlight-color: var(--nomad);
}

/* Global Transpiled Components */
@import '~@hashicorp/react-alert/dist/style.css';
@import '~@hashicorp/react-alert-banner/style.css';
@import '~@hashicorp/react-button/styles/index.css';
@import '~@hashicorp/react-call-to-action/style.css';
@import '~@hashicorp/react-code-block/style.css';
@import '~@hashicorp/react-consent-manager/style.css';
@import '~@hashicorp/react-toggle/style.css';
@import '~@hashicorp/react-content/style.css';
@import '~@hashicorp/react-docs-page/style.css';
@import '~@hashicorp/react-docs-sidenav/style.css';
@import '~@hashicorp/react-enterprise-alert/style.css';
@import '~@hashicorp/react-featured-slider/style.css';
@import '~@hashicorp/react-hero/style.css';
@import '~@hashicorp/react-product-downloader/dist/style.css';
@import '~@hashicorp/react-search/style.css';
@import '~@hashicorp/react-section-header/style.css';
@import '~@hashicorp/react-subnav/style.css';
@import '~@hashicorp/react-tabs/style.css';
@import '~@hashicorp/react-text-split/style.css';
@import '~@hashicorp/react-use-cases/dist/style.css';
@import '~@hashicorp/react-vertical-text-block-list/style.css';

/* Local Components */
@import '../components/placement-table/style.css';
@import '../components/case-study-carousel/style.css';
@import '../components/features-list/style.css';
@import '../components/enterprise-info/style.css';
@import '../components/mini-cta/style.css';
@import '../components/homepage-hero/style.css';
@import '../components/learn-nomad/style.css';
@import '../components/basic-hero/style.css';
@import '../components/footer/style.css';
@import '../components/use-case-page/style.css';

/* Local Pages */
@import './home/style.css';
@import './downloads/style.css';
@import './security/style.css';
@import './community/style.css';

/* Print Styles */
@import './print.css';

/* Sticky Footer */
.__next > .content {
  min-height: calc(100vh - 260px);

  &.banner {
    min-height: calc(100vh - 315px);
  }
}

/*
 * About this selector:
 * `.g-subnav ~ *` finds all elements after the navigation.
 * `:target` finds the active permalink on the page.
 *
 * About this style:
 * `scroll-margin-top` adjusts the vertical scroll of a permalink.
 * `64px` adjusts the scroll to account for the navigation.
 * `0.5em` further adjusts the scroll to give the permalink breathing room.
 *
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/:target
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top
 */
.g-subnav ~ * :target {
  scroll-margin-top: calc(64px + 0.5em);
}

/* overrides */

.g-content pre code {
  background: none;
}
