$queued: $grey-lighter;
$starting: desaturate(lighten($warning, 25%), 50%);
$running: desaturate(lighten($warning, 10%), 10%);
$complete: $primary;
$failed: desaturate(lighten($danger, 10%), 10%);

.chart {
  .queued {
    fill: $queued;
  }
  .starting {
    fill: $starting;
  }
  .running {
    fill: $running;
  }
  .complete {
    fill: $complete;
  }
  .failed {
    fill: $failed;
  }

  .color-swatch {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    box-shadow: inset 0 0 0 1px rgba($black, 0.3);

    &.queued {
      background: $queued;
    }
    &.starting {
      background: $starting;
    }
    &.running {
      background: $running;
    }
    &.complete {
      background: $complete;
    }
    &.failed {
      background: $failed;
    }
  }
}
