.chart.distribution-bar {
  display: block;
  height: 100%;

  svg {
    display: inline-block;
    height: 100%;
    width: 100%;

    .bars {
      rect {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }

      .bar {
        transform: translateY(-50%);
      }

      .inactive {
        opacity: 0.2;
      }

      .target {
        opacity: 0;
      }

      $color-sequence: $orange,
        $yellow,
        $green,
        $turquoise,
        $blue,
        $purple,
        $red;

      @for $i from 1 through length($color-sequence) {
        .slice-#{$i - 1} {
          fill: nth($color-sequence, $i);
        }
      }
    }
  }
}
