.chart.topo-viz-node {
  display: block;

  svg {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: visible;

    .node-background {
      fill: $white-ter;
      stroke-width: 1;
      stroke: $grey-lighter;

      &.is-interactive:hover {
        fill: $white;
        stroke: $grey-light;
      }

      &.is-selected,
      &.is-selected:hover {
        fill: $white;
        stroke: $grey;
      }
    }

    .dimension-background {
      fill: lighten($grey-lighter, 5%);
    }

    .dimensions.is-active {
      .bar {
        opacity: 0.2;

        &.is-active {
          opacity: 1;
        }
      }
    }

    .bar {
      cursor: pointer;

      &.is-selected {
        stroke-width: 1px;
        stroke: $blue;
        fill: $blue-light;
      }
    }

    .label {
      text-anchor: middle;
      alignment-baseline: central;
      font-weight: $weight-normal;
      fill: $grey;
      pointer-events: none;
    }
  }

  & + .topo-viz-node {
    margin-top: 1em;
  }

  &.is-empty {
    .node-background {
      stroke: $red;
      stroke-width: 2;
      fill: $white;
    }

    .dimension-background {
      fill: none;
    }
  }
}

.flex-masonry-columns-2 > .flex-masonry-item > .chart.topo-viz-node svg {
  width: calc(100% - 0.75em);
}

.chart.topo-viz-edges {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;

  .edge {
    stroke-width: 2;
    stroke: $blue;
  }
}
