{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<label class="value-label">
<Hds::Form::MaskedInput::Field
  @isMultiline={{true}}
  @value={{@entry.value}}
  rows="1"
  class="value-label"
  {{! prevent auto-fill }}
  autocomplete="new-password"
  data-test-var-value
as |F|>
  <F.Label>Value</F.Label>
</Hds::Form::MaskedInput::Field>
</label>