{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{did-insert this.establishKeyValues}}
<div>
  <label>
    <span>
      Description
    </span>
    <Input
      @type="text"
      @value={{this.description}}
      {{on "input" this.updateDescription}}
      class="input value-input"
      data-test-template-description
    />
  </label>
</div>
<div>
  <label>
    <span>
      Job Template
    </span>
    <div
      data-test-template-json
      {{code-mirror
        theme="hashi"
        mode="ruby"
        autofocus=false
        content=this.template
        onUpdate=(action this.updateTemplate)
      }}
    ></div>
  </label>
</div>
