$consul-pink: #FF0087;
$consul-pink-dark: #C62A71;

$packer-blue: #1DAEFF;
$packer-blue-dark: #1D94DD;

$terraform-purple: #5C4EE5;
$terraform-purple-dark: #4040B2;

$vagrant-blue: #1563FF;
$vagrant-blue-dark: #104EB2;

$nomad-green: #25BA81;
$nomad-green-dark: #1d9467;
