$ui-gray-100: #ebeef2;
$ui-gray-200: #dce0e6;
$ui-gray-300: #bac1cc;
$ui-gray-400: #8e96a3;
$ui-gray-500: #6f7682;
$ui-gray-700: #525761;
$ui-gray-800: #373a42;
$ui-gray-900: #1f2124;

$red-500: #c73445;
$red-300: #db7d88;
$red-200: #e5a2aa;

$teal-500: #25ba81;
$teal-300: #74d3ae;
$teal-200: #9bdfc5;

$gray-300: #bac1cc;
$gray-200: #dce0e6;
$gray-100: #ebeef2;

$cool-gray-500: #7c8797;

$yellow-400: #face30;
$yellow-700: #a07d02;

$green-500: #2eb039;
