@custom-media --mobile-viewports (max-width: 939px);
@custom-media --desktop-viewports (min-width: 940px);

.wrapper {
  display: flex;
  flex-direction: row;

  @media (--mobile-viewports) {
    flex-direction: column;
  }
}

.sidebar {
  margin-right: 2em;
  width: 250px;
  flex-shrink: 0;
}

.content {
  flex: 1 1;
  padding-left: 32px;
  margin-top: 16px;
  overflow: auto;

  @media (--mobile-viewports) {
    padding-left: 0;
  }
}

.oldVersionNotice {
  margin-bottom: 24px;
}

.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  margin-bottom: 64px;
  border-top: 1px solid var(--gray-5);
  border-bottom: 1px solid var(--gray-5);
}

.hideMobile {
  @media (--mobile-viewports) {
    display: none;
  }
}

.hideDesktop {
  @media (--desktop-viewports) {
    display: none;
  }
}
