{{page-title "Policies"}}
<section class="section">
    Here are your <marquee>policies</marquee>
    {{#each (range 10 20) as |number|}}
        lol <marquee>{{item}}</marquee>
    {{/each}}
</section>
