.access-control-overview {
  .intro {
    margin-bottom: 2rem;
    p {
      margin-bottom: 1rem;
    }
    footer {
      display: flex;
      gap: 1rem;
    }
  }

  .section-cards {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // Repeat 3 but minimum width is 200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    & > div {
      display: flex;
      flex-direction: row;
      & > a {
        padding: 1rem;
        text-decoration: none;
        color: $black;
        display: block;

        &:hover {
          background-color: var(--token-color-surface-interactive-hover);
        }
      }
    }
  }
}

.acl-table {
  .tag-group {
    display: flex;
    gap: 0.5rem;
    // repeat as many as you can. dont grow vertically
    flex-wrap: wrap;

    a {
      white-space: nowrap;
    }
  }
}
