@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fs-explorer.table {
  width: 100%;

  tbody {
    a {
      text-decoration: none;
      color: inherit;
      position: relative;

      &:hover {
        .name {
          text-decoration: underline;
        }
      }

      &.ember-transitioning-in::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        right: -25px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid $light;
        border-top-color: $grey-light;
        animation: spinner 0.6s linear infinite;
      }
    }
  }
}

.breadcrumb.fs {
  margin: 0;

  a {
    padding-top: 0;
    padding-bottom: 0;
    color: $blue;
    opacity: 1;
    font-weight: $weight-bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .is-active a {
    color: $black;
  }
}
