.badge {
  font-size: $size-7;
  height: 1.5em;
  border-radius: $radius;
  padding: 0.25em 0.75em;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
    }
  }
}
