.breadcrumbs {
  .breadcrumb {
    color: $white;
    opacity: 0.7;

    + .breadcrumb {
      margin-left: 15px;
      &::before {
        content: '/';
        color: $primary;
        position: relative;
        left: -7px;
      }
    }
  }

  a.breadcrumb {
    opacity: 1;
  }
}
