.breadcrumbs {
  .breadcrumb {
    color: $white;
    opacity: 0.7;
    text-decoration: none;

    + .breadcrumb {
      margin-left: 15px;
      &::before {
        content: "/";
        color: $primary;
        position: relative;
        left: -7px;
      }
    }

    &:last-child {
      opacity: 1;
    }
  }

  a.breadcrumb:hover {
    color: $primary-invert;
    opacity: 1;
  }
}
