.copy-button {
  padding-left: 0.5rem;
  margin-bottom: 2px;

  .button {
    color: inherit;

    &.is-static {
      background-color: inherit;
    }

    svg {
      fill: currentColor;
    }
  }
}
