.global-search {
  width: 30em;

  .ember-power-select-trigger {
    background: $nomad-green-darker;

    .icon {
      margin-top: 1px;
      margin-left: 2px;

      fill: white;
      opacity: 0.7;
    }

    .placeholder {
      opacity: 0.7;
      display: inline-block;
      padding-left: 2px;
      transform: translateY(-1px);
    }

    &.ember-power-select-trigger--active {
      background: white;

      .icon {
        fill: black;
        opacity: 1;
      }
    }
  }

  .ember-basic-dropdown-content-wormhole-origin {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
