.job-status-panel {
  // #region layout
  &.steady-state.current-state .boxed-section-body {
    display: grid;
    grid-template-areas:
      'title'
      'allocation-status-row'
      'legend-and-summary';
    gap: 1rem;
    grid-auto-columns: 100%;

    & > h3 {
      grid-area: title;
      margin: 0;
    }

    & > .allocation-status-row {
      grid-area: allocation-status-row;
    }
  }

  &.active-deployment .boxed-section-body {
    display: grid;
    grid-template-areas:
      'deployment-allocations'
      'legend-and-summary'
      'history-and-params';
    gap: 1rem;
    grid-auto-columns: 100%;

    & > .deployment-allocations {
      grid-area: deployment-allocations;
      display: grid;
      gap: 1rem;
      grid-auto-columns: 100%;

      & > h4 {
        margin-bottom: -0.5rem;
      }
    }

    & > .history-and-params {
      grid-area: history-and-params;
    }
  }

  .boxed-section-body > .legend-and-summary {
    grid-area: legend-and-summary;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 50% 50%;

    legend {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
    }
    .versions {
      display: grid;
      gap: 0.5rem;
      & > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        gap: 0.5rem;
        & > li {
          white-space: nowrap;
        }
      }
    }
  }

  // #endregion layout

  .select-mode {
    border: 1px solid $grey-blue;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;

    button {
      height: auto;
      padding: 0 0.5rem;
      background: transparent;
      transition: 0.1s;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &.is-active {
        background: $white;
      }
    }
  }

  .running-allocs-title {
    strong {
      font-weight: 800;
    }
  }

  .ungrouped-allocs {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(1px, 32px);
    margin-bottom: 1rem;

    & > .represented-allocation {
      width: auto;
    }
  }

  .alloc-status-summaries {
    display: flex;
    height: 32px;
    gap: 1.5rem;

    .allocation-status-block {
      display: grid;
      grid-template-columns: auto 50px;
      gap: 10px;

      &.rest-only {
        grid-template-columns: auto;
      }

      & > .ungrouped-allocs {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        grid-auto-columns: unset;
        & > .represented-allocation {
          width: 32px;
        }
      }

      .represented-allocation.rest {
        font-size: 0.8rem;
        text-align: center;
        display: grid;
        align-content: center;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        // min-width: 32px; // TODO: fix

        &.unplaced {
          color: black;
        }
      }
    }
  }

  .represented-allocation {
    background: $green;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    color: white;

    $queued: $grey;
    $pending: $grey-lighter;
    $running: $primary;
    $complete: $nomad-green-pale;
    $failed: $danger;
    $lost: $dark;

    // Client Statuses
    &.running {
      background: $running;
    }
    &.failed {
      background: $failed;
    }
    &.unknown {
      background: $unknown;
    }
    &.queued {
      background: $queued;
    }
    &.complete {
      background: $complete;
      color: black;
    }
    &.pending {
      background: $pending;
      color: black;
    }
    &.lost {
      background: $lost;
    }
    &.unplaced {
      background: transparent;
      border: 2px solid $grey-lighter;
    }

    // Health Statuses
    &.running {
      position: relative;
      // overflow: hidden;
      .alloc-health-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        // background-color: white;
      }
      &.rest .alloc-health-indicator {
        top: -7px;
        right: -7px;
        border-radius: 20px;
        background: white;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        transform: scale(0.75);
      }
      &.rest.healthy {
        .alloc-health-indicator {
          // background: $nomad-green-dark;
          // border: 1px solid white;
        }
      }

      // .alloc-health-indicator {
      //   position: absolute;
      //   // top: -6px;
      //   // right: -6px;
      //   // border-radius: 20px;
      //   width: 100%;
      //   height: 100%;
      //   display: grid;
      //   align-content: center;
      //   justify-content: center;
      // }

      // &.healthy {
      //   .alloc-health-indicator {
      //     background: #16704d;
      //   }
      // }

      // &:after {
      //   content: "";
      //   position:absolute;
      //   right: -8px;
      //   top: -8px;
      //   width:16px;
      //   height:16px;
      //   transform:rotate(45deg);
      //   background-color:#4A4A4A;
      // }

      // &.healthy {
      //   &:after {
      //     background-color: $nomad-green-darker;
      //   }
      // }
    }

    // Canary Status
    &.canary > .alloc-canary-indicator {
      overflow: hidden;
      width: 16px;
      height: 16px;
      position: absolute;
      bottom: 0;
      left: 0;

      &:after {
        content: '';
        position: absolute;
        left: -8px;
        bottom: -8px;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        background-color: $orange;
      }
    }
  }

  & > .boxed-section-body > .legend-and-summary {
    .legend-item {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: auto 1fr;

      &.faded {
        opacity: 0.5;
      }

      .represented-allocation {
        width: 20px;
        height: 20px;
      }
    }
  }

  .history-and-params {
    display: grid;
    grid-template-columns: 70% auto;
    gap: 1rem;
    margin-top: 1rem;
  }

  .deployment-history {
    & > header {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      margin-bottom: 1rem;
      align-items: end;
      & > .search-box {
        max-width: unset;
      }
    }
    & > ol {
      max-height: 300px;
      overflow-y: auto;
    }
    & > ol > li {
      @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          animation-name: historyItemSlide;
          animation-duration: 0.2s;
          animation-fill-mode: both;
          animation-delay: 0.1s + (0.05 * $i);
        }

        &:nth-child(#{$i}) > div {
          animation-name: historyItemShine;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-delay: 0.1s + (0.05 * $i);
        }
      }

      & > div {
        gap: 0.5rem;
      }
      &.error > div {
        border: 1px solid $danger;
        background: rgba($danger, 0.1);
      }
    }
  }

  .update-parameters {
    & > code {
      max-height: 300px;
      overflow-y: auto;
      display: block;
    }
    ul,
    span.notification {
      display: block;
      background: #1a2633;
      padding: 1rem;
      color: white;
      .key {
        color: #1caeff;
        &:after {
          content: '=';
          color: white;
          margin-left: 0.5rem;
        }
      }
      .value {
        color: #06d092;
      }
    }
  }
}

@keyframes historyItemSlide {
  from {
    opacity: 0;
    top: -40px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes historyItemShine {
  from {
    box-shadow: inset 0 0 0 100px rgba(255, 200, 0, 0.2);
  }
  to {
    box-shadow: inset 0 0 0 100px rgba(255, 200, 0, 0);
  }
}
