.job-diff {
  font-family: $family-monospace;

  &.is-added,
  &.is-deleted {
    padding-left: 1ch;
  }

  &.is-edited {
    padding-left: 2ch;
  }

  .diff-section-label {
    text-indent: 0;
    padding-left: 2ch;

    &.is-added {
      text-indent: -2ch;

      .marker {
        color: $nomad-green;
      }
    }

    &.is-edited {
      text-indent: -4ch;

      .marker {
        color: $orange;
      }
    }

    &.is-deleted {
      text-indent: -2ch;

      .marker {
        color: $red;
      }
    }
  }
}
