.keyboard-shortcuts {
  position: fixed;
  background-color: white;
  padding: 2rem;
  margin-top: 20vh;
  width: 40vw;
  left: 30vw;
  z-index: 499;
  box-shadow: 2px 2px 12px 3000px rgb(0, 0, 0, 0.8);
  animation-name: slideIn;
  animation-duration: 0.2s;
  animation-fill-mode: both;

  li {
    list-style-type: none;
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    .keys {
      text-align: right;
      span {
        background-color: #eee;
        margin: 0.1rem;
        padding: 0.3rem;
        line-height: 100%;
        display: inline-block;
      }
    }
  }

  header {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    button.dismiss {
      font-size: 0.7rem;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2rem;
    background: #eee;
    margin: 2rem -2rem -2rem;
  }

  &.shortcuts-disabled {
    li {
      opacity: 0.25;
    }
  }
}

// Global keyboard hint style

// .display-hints {
[data-shortcut] {
  background: lighten($nomad-green, 25%);
  border: 1px solid $nomad-green-dark;
  content: attr(data-shortcut);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  padding: 0 0.5rem;
  text-transform: lowercase;
  color: black;
  font-weight: 300;
  z-index: $z-popover;
  &.menu-level {
    z-index: $z-tooltip;
  }
}
// }

@keyframes slideIn {
  from {
    opacity: 0;
    top: 40px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
