.lifecycle-chart {
  padding-top: 2rem;
  position: relative;

  .lifecycle-phases {
    position: absolute;
    top: 1.5em;
    bottom: 1.5em;
    right: 1.5em;
    left: 1.5em;
  }

  .lifecycle-phase {
    position: absolute;
    bottom: 0;
    top: 0;

    border-top: 2px solid transparent;

    .name {
      padding: 0.5rem 0.9rem;
      font-size: $size-7;
      font-weight: $weight-semibold;
      color: $ui-gray-500;
    }

    &.is-active {
      background: $white-bis;
      border-top: 2px solid $vagrant-blue;

      .name {
        color: $vagrant-blue;
      }
    }

    &.prestart {
      left: 0;
      right: 75%;

      // Adapted from https://kovart.github.io/dashed-border-generator/
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='100%25' y1='0' x2='100%25' y2='100%25' fill='none' stroke='#{encode-color($ui-gray-200)}' stroke-width='3' stroke-dasharray='1%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &.main {
      left: 25%;
      right: 0;
    }
  }

  .lifecycle-chart-rows {
    margin-top: 2.5em;
  }

  .lifecycle-chart-row {
    position: relative;

    .task {
      margin: 0.55em 0.9em;
      padding: 0.3em 0.55em;
      border: 1px solid $grey-blue;
      border-radius: $radius;
      background: white;

      .name {
        font-weight: $weight-semibold;

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      &:hover {
        .name a {
          text-decoration: underline;
        }
      }

      .lifecycle {
        font-size: $size-7;
        color: $ui-gray-400;
      }
    }

    &.is-active {
      .task {
        border-color: $nomad-green;
        background: lighten($nomad-green, 50%);

        .lifecycle {
          color: $ui-gray-500;
        }
      }
    }

    &.is-finished {
      .task {
        color: $ui-gray-400;
      }
    }

    &.main {
      margin-left: 25%;
    }

    &.prestart {
      margin-right: 75%;
    }

    &:last-child .task {
      margin-bottom: 0.9em;
    }
  }
}
