.lifecycle-chart {
  .row {
    margin: 0.5em;
    padding: 0.4em 0.65em;
    border: 1px solid $grey-blue;
    border-radius: $radius;

    .name {
      font-weight: $weight-semibold;
    }

    .lifecycle {
      font-size: $size-7;
      color: $grey;
    }
  }

  &.is-active {
    .row {
      border-color: $nomad-green;
      background: lighten($nomad-green, 50%);
    }
  }

  &.main {
    margin-left: 25%;
  }

  &.prestart {
    margin-right: 75%;
  }
}
