$size: 1.6rem;

.node-status-light {
  display: inline-flex;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  // Compensate for the padding within the SVG
  // (between the circle paths and the viewBox)
  margin-left: -1px;
  margin-right: -1px;

  &.ready {
    color: $primary;
  }

  &.down {
    color: $danger;
  }

  &.initializing {
    color: $grey-light;
  }

  &.ineligible,
  &.draining {
    color: $warning;
  }

  .icon {
    width: $size;
    height: $size;
  }
}
