$size: 1.3rem;

.node-status-light {
  display: inline-flex;
  height: $size;
  width: $size;
  border-radius: $size / 2;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  background: $black;
  color: $white;

  &.ready {
    background: $primary;
  }

  &.down {
    background: $danger;
  }

  &.initializing {
    background: $grey-lighter;
  }

  &.ineligible,
  &.draining {
    background: $warning;
  }

  .icon {
    width: $size - 0.2rem;
    height: $size - 0.2rem;
  }
}
