table.policies {
  tr {
    cursor: pointer;

    &:hover td {
      background-color: #f5f5f5;
    }
    a {
      color: black;
      text-decoration: none;
    }
    .number-expired {
      color: $red;
    }
  }
}

.edit-policy {
  .policy-editor {
    max-height: 600px;
    overflow: auto;
  }

  .input {
    margin-bottom: 1rem;
  }
}

.token-operations {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;

  .notification {
    padding: 1rem;
    margin: 0;

    button, pre {
      margin-top: 1rem;
    }
  }
}
