.realtime-event {
  display: grid;
  grid-template-columns: auto 1fr;
  dt {
    font-weight: bold;
  }
}

// TODO: Temp
.entities {
  h2 {
    font-weight: bold;
  }

  ul li {
    list-style-type: disc;
    margin-left: 1rem;
  }
}
