.section.single-variable {
  margin-top: 1.5rem;

  .back-link {
    text-decoration: none;
    color: #363636;
    position: relative;
    top: 4px;
  }
}

.variable-title {
  .toggle {
    font-size: 0.8rem;
    margin-left: 1rem;
    position: relative;
    top: -0.25rem;
    .toggler {
      margin-right: 0.25rem;
    }
  }
}

.new-secure-variables {
  & > div {
    margin-bottom: 1rem;
  }

  .path-input {
    &:disabled {
      background-color: #f5f5f5;
    }
    &.error {
      color: $red;
      border-color: $red;
    }
  }

  .duplicate-path-error {
    position: relative;
    animation: slide-in 0.3s ease-out;
  }

  .key-value {
    display: grid;
    grid-template-columns: 1fr 4fr 130px;
    gap: 0 1rem;
    align-items: end;

    input.error {
      color: $red;
      border-color: $red;
    }

    .value-label {
      display: grid;
      grid-template-columns: 1fr auto;
      & > span {
        grid-column: -1 / 1;
      }
    }

    button.show-hide-values {
      height: 100%;
      box-shadow: none;
      margin-left: -2px;
      border-color: $grey-blue;
    }

    button.add-more[disabled] {
      border-color: #dbdbdb;
    }

    .key-value-error {
      grid-column: -1 / 1;
      position: relative;
      animation: slide-in 0.3s ease-out;
      margin: 0;
    }
  }

  .editor-wrapper {
    &.error {
      .CodeMirror {
        box-shadow: 0 0 0 3px $red;
      }
      .help {
        padding: 1rem 0;
        font-size: 1rem;
      }
    }
  }
}

table.path-tree {
  tr {
    cursor: pointer;
    a {
      color: #0a0a0a;
      text-decoration: none;
    }
    svg {
      margin-bottom: -2px;
      margin-right: 10px;
    }
  }
}

@keyframes slide-in {
  0% {
    top: 10px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}
