.new-secure-variables {
  & > div {
    margin-bottom: 1rem;
  }
  .key-value {
    display: grid;
    grid-template-columns: 1fr 4fr auto auto;
    gap: 1rem;
    align-items: end;

    button.show-hide-values {
      background-color: transparent;
      border: none;
      margin-left: -1rem;
      box-shadow: none;
      &:hover {
        color: $nomad-green;
      }
    }
  }

  .add-more:focus {
    background-color: $grey-lighter;
  }
}
