.sidebar {
  position: fixed;
  background: #ffffff;
  width: 750px;
  padding: 24px;
  right: 0%;
  overflow-y: auto;
  bottom: 0;
  top: 112px;
  transform: translateX(100%);
  transition-duration: 150ms;
  transition-timing-function: ease;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.06), 0px 12px 16px rgba(0, 0, 0, 0.2);
  z-index: $z-modal;
  &.open {
    transform: translateX(0%);
  }
}

.sidebar-content {
  position: relative;
  display: inline-flex;
}

.error-header {
  display: flex;
  justify-content: flex-end;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.related-evaluations {
  overflow-x: scroll;
  overflow-y: hidden;
}

.evaluation-actors {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.actor {
  margin: 24px;
  outline: 1px solid #d9dee6;
  padding: 10px;
  width: 100px;
}
