.status-text {
  font-weight: $weight-semibold;

  &.node-ready {
    color: $nomad-green-darker;
  }

  &.node-down {
    color: $danger;
  }

  &.node-initializing {
    color: $grey-dark;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      color: $color;
    }
  }

  &.is-warning {
    color: darken($warning, 20%);
  }
}
