/**
 * Copyright IBM Corp. 2015, 2026
 * SPDX-License-Identifier: BUSL-1.1
 */

.status-text {
  font-weight: $weight-semibold;

  &.node-ready {
    color: $nomad-green-darker;
  }

  &.node-disconnected {
    color: $warning-dark;
  }

  &.node-down {
    color: $danger-dark;
  }

  &.node-initializing {
    color: var(--token-color-foreground-primary);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      color: $color;
    }
  }
}
