.two-step-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: $body-size;
  line-height: 1;

  .confirmation-text {
    position: absolute;
    left: 0;
    top: -1.5em;
    font-size: $body-size;
    line-height: 1;
    font-weight: $weight-normal;
    color: darken($grey-blue, 20%);
    white-space: nowrap;

    &.is-right-aligned {
      left: auto;
      right: 0;
    }

    &.has-text-inline {
      top: unset;
      bottom: 0;
      padding-bottom: 6.462px;

      left: 100%;
      right: unset;
      padding-left: 0.5rem;

      &.is-right-aligned {
        padding-left: 0;
        padding-right: 0.5rem;
        left: unset;
        right: 100%;
      }
    }

    &.inherit-color {
      color: currentColor;
    }
  }
}
