.two-step-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: $body-size;
  line-height: 1;

  .confirmation-text {
    position: absolute;
    left: 0;
    top: -1.5em;
    font-size: $body-size;
    line-height: 1;
    font-weight: $weight-normal;
    color: darken($grey-blue, 20%);
    white-space: nowrap;

    &.is-right-aligned {
      left: auto;
      right: 0;
    }

    &.inherit-color {
      color: currentColor;
    }
  }
}
