{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<section class="das-accepted">
  <main>
    <h3>Recommendation accepted</h3>
    <p>A new version of this job will now be deployed.</p>
  </main>
  {{x-icon "check-circle-fill"}}
</section>