.g-homepage-hero {
  background-repeat: no-repeat;
  background-color: var(--nomad-secondary);
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 88px 0;

  @media (--medium-up) {
    background-image: url(/img/nomad-bg-pattern.svg);
  }

  & h1 {
    text-align: center;
    white-space: pre-wrap;
  }

  & p {
    margin: 0 auto 0 auto;
    text-align: center;
    max-width: 40em;
  }

  & .g-grid-container {
    max-width: 700px;
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(32px - 8px);
    margin-bottom: -8px;

    & a {
      margin: 8px;
    }
  }
}
