{{partial "allocations/allocation/task/subnav"}}
<section class="section full-width-section">
  <h1 class="title">Path fs route <code>{{path}}</code></h1>

  <ul>
    {{#each ls as |entry|}}
      <li data-test-entry>{{entry.Name}}</li>
    {{/each}}
  </ul>
</section>