.g-subnav .title-link {
  position: relative;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  color: var(--gray-1);
  font-size: 1.25rem;
  line-height: 2.5rem;

  & svg {
    height: 34px;
    width: auto;
    display: block;
  }

  &.brand-hcp svg {
    height: 29px;
  }
}
