{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<JobPage @job={{@job}} as |jobPage|>
  <jobPage.ui.Body>
    <jobPage.ui.Error />
    <jobPage.ui.Title>
      <span class="tag is-hollow">
        Parameterized
      </span>
    </jobPage.ui.Title>
    <jobPage.ui.StatsBox />
    <jobPage.ui.Summary />
    <jobPage.ui.Children
      @sortProperty={{@sortProperty}}
      @sortDescending={{@sortDescending}}
      @currentPage={{@currentPage}}
    />
    <jobPage.ui.Meta />
  </jobPage.ui.Body>
</JobPage>