package structs

{{ range $targetType := .Targets -}}
{{ if $targetType.IsEquals -}}
    func ({{$targetType.Abbr}} *{{$targetType.Name}}) Equals(other *{{$targetType.Name}}) bool {
    {{ range $field := .Fields }}
        {{- if $field.IsPrimitive }}
            if {{$targetType.Abbr}}.{{$field.Name}} != other.{{$field.Name}} { return false }
        {{- end}}
        {{- if or $field.IsStruct $field.IsPointer }}
            if !{{$targetType.Abbr}}.{{$field.Name}}.Equals(other.{{$field.Name}}) {
                return false
            }
        {{- end}}
        {{- if $field.IsMap }}
            for k, v := range {{$targetType.Abbr}}.{{$field.Name}} {
            {{- if $field.ValueType.IsPrimitive }}
                v2, ok := other.Meta[k]
                if !ok {
                    return false
                }
                if v != v2 {
                    return false
                }
            {{- else if or $field.ValueType.IsStruct $field.ValueType.IsPointer }}
                v2, ok := other.Meta[k]
                if !ok {
                    return false
                }
                if !v1.Equals(v2) {
                    return false
                }
            {{- end}}
            }
        {{- end}}
        {{- if $field.IsArray }}
            for i, v := range {{$targetType.Abbr}}.{{$field.Name}} {
            {{- if $field.ValueType.IsPrimitive }}
                if v != other.{{$field.Name}}[i] {
                    return false
                }
            {{- else if or $field.ValueType.IsStruct $field.ValueType.IsPointer }}
                if !v.Equals(other.{{$field.Name}}[i]) {
                    return false
                }
            {{- end}}
            }
        {{- end}}
{{- end }}

    return true
}
{{- end }}
{{- end}}