{{ .Name }}:
type: object
title: Service represents a Consul service definition.
properties:
AddressMode:
type: string
CanaryMeta:
type: object
additionalProperties:
type: string
CanaryTags:
type: array
items:
type: string
CheckRestart:
$ref: '#/components/schemas/CheckRestart'
Checks:
type: array
items:
$ref: '#/components/schemas/ServiceCheck'
Connect:
$ref: '#/components/schemas/ConsulConnect'
EnableTagOverride:
type: boolean
Id:
description: FIXME Id is unused. Remove?
type: string
Meta:
type: object
additionalProperties:
type: string
Name:
type: string
OnUpdate:
type: string
PortLabel:
type: string
Tags:
type: array
items:
type: string
TaskName:
type: string
x-go-package: github.com/hashicorp/nomad/api
`