//
// API
// --------------------------------------------------

.layout-api,
.layout-http {
  dl, dl.api {
    margin-top: 30px;
    line-height: 20px;

    dt {
      color: #888;
      text-transform: uppercase;
      font-weight: normal;
      float: left;
      width: 150px;
      text-align: right;
    }

    dd {
      margin-left: 170px;

      pre.api-sample {
        margin-top: 20px;
        font-size: 14px;
        padding: 10px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        list-style-type: none;
        line-height: 20px;
        padding: 0;
        padding-bottom: 15px;
        font-size: 15px;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;

        &:last-child {
          padding-bottom: 0;
        }

        span.param {
          font-weight: bold;
        }

        span.param-flags {
          font-style: italic;
          color: #888;
          padding-right: 6px;
        }
      }
    }
  }
}

#inner-quicknav {
  margin-top: -15px;
  margin-bottom: 25px;
  margin-left: 10px;

  span {
    cursor: pointer;
    color: #666;

    svg {
      fill: $body-font-color;
      position: relative;
      top: -2px;
      width: 9px;
      height: 5px;
      margin-left: 7px;
    }
  }

  ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    width: 80%;
    box-shadow: 0px 4px 12px -2px rgba(63, 68, 85, 0.5);
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-left: -15px;

    &.active {
      visibility: visible;
      opacity: 1;
      display: block;
      transition-duration: 0s;
    }

    li {
      clear: both;
      width: 100%;
      display: block;
      position: relative;
      margin-bottom: 0;
      margin-left: 0;
      padding-top: 0;
      padding-bottom: 0;

      $toc-indent: 30px;
      &.level-h2 { padding-left: $toc-indent * 0 }
      &.level-h3 { padding-left: $toc-indent * 1 }
      &.level-h4 { padding-left: $toc-indent * 2 }
      &.level-h5 { padding-left: $toc-indent * 3 }
      &.level-h6 { padding-left: $toc-indent * 4 }

      a {
        text-decoration: none;
      }
    }
  }
}
