{{#freestyle-usage 'breadcrumbs-standard' title='Standard Breadcrumbs'}}
<div class="navbar is-secondary">
  {{breadcrumb-trail items=breadcrumbData}}
</div>
{{/freestyle-usage}}
{{#freestyle-annotation}}
  Breadcrumbs are only ever used in the secondary nav of the primary header.
{{/freestyle-annotation}}

{{#freestyle-annotation}}
  Breadcrumbs are given a lot of emphasis and often double as a page title. Since they are also global state, they are important for helping a user keep their bearings.
{{/freestyle-annotation}}
