{{#freestyle-usage "copy-button" title="Copy Button"}}
  <span class="tag is-hollow is-small no-text-transform">
    e8c898a0-794b-9063-7a7f-bf0c4a405f83
    {{copy-button clipboardText="e8c898a0-794b-9063-7a7f-bf0c4a405f83"}}
  </span>
{{/freestyle-usage}}