{{#freestyle-usage "header" title="Global Header"}}
  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <span class="navbar-item is-logo">
        <img src="/ui/images/nomad-logo.svg" alt="Nomad" />
      </span>
    </div>
    <div class="navbar-end">
      <a class="navbar-item">Secondary</a>
      <a class="navbar-item">Links</a>
      <a class="navbar-item">Here</a>
    </div>
  </nav>
{{/freestyle-usage}}
