{{#freestyle-usage "json-viewer" title="JSON Viewer"}}
  <div class="boxed-section">
    <div class="boxed-section-body is-dark">
      {{json-viewer json=jsonSmall}}
    </div>
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "json-viewer-full" title="JSON Viewer for Full Document"}}
  <div class="boxed-section">
    <div class="boxed-section-body is-dark">
      {{json-viewer json=jsonLarge}}
    </div>
  </div>
{{/freestyle-usage}}
