{{#freestyle-usage "page-tabs" title="Page Tabs"}}
  <div class="tabs">
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#" class="is-active">Definition</a></li>
      <li><a href="#">Versions</a></li>
      <li><a href="#">Deployments</a></li>
    </ul>
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "page-tabs-single" title="Single Page Tab"}}
  <div class="tabs">
    <ul>
      <li><a href="#" class="is-active">Overview</a></li>
    </ul>
  </div>
{{/freestyle-usage}}
