{{#freestyle-usage "two-step-button" title="Two Step Button"}}
<div class="mock-spacing">
  {{two-step-button
    idleText="Scary Action"
    cancelText="Nvm"
    confirmText="Yep"
    confirmationMessage="Wait, really? Like...seriously?"}}
</div>
{{/freestyle-usage}}

{{#freestyle-usage "two-step-button-title" title="Two Step Button in Title"}}
<div class="mock-spacing">
  <h1 class="title">
  This is a page title
  {{two-step-button
    idleText="Scary Action"
    cancelText="Nvm"
    confirmText="Yep"
    confirmationMessage="Wait, really? Like...seriously?"}}
  </h1>
</div>
{{/freestyle-usage}}

{{#freestyle-usage "two-step-button-loading" title="Two Step Button Loading State"}}
  <div class="mock-spacing">
    <h1 class="title">
    This is a page title
    {{two-step-button
      idleText="Scary Action"
      cancelText="Nvm"
      confirmText="Yep"
      confirmationMessage="Wait, really? Like...seriously?"
      awaitingConfirmation=true
      state="prompt"}}
    </h1>
  </div>
{{/freestyle-usage}}
{{#freestyle-annotation}}
  <strong>Note:</strong> the <code>state</code> property is internal state and only used here to bypass the idle state for demonstration purposes.
{{/freestyle-annotation}}
