{{#freestyle-usage "two-step-button" title="Two Step Button"}}
<div class="mock-spacing">
  {{two-step-button
    idleText="Scary Action"
    cancelText="Nvm"
    confirmText="Yep"
    confirmationMessage="Wait, really? Like...seriously?"}}
</div>
{{/freestyle-usage}}

{{#freestyle-usage "two-step-button-title" title="Two Step Button in Title"}}
<div class="mock-spacing">
  <h1 class="title">
  This is a page title
  {{two-step-button
    idleText="Scary Action"
    cancelText="Nvm"
    confirmText="Yep"
    confirmationMessage="Wait, really? Like...seriously?"}}
  </h1>
</div>
{{/freestyle-usage}}
