

<div id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="hero-graphic">
					<div id="cubes">
						<div class="cube">
						  <span class="face top"></span>
						  <span class="face left"></span>
						  <span class="face right"></span>
						</div>
					</div>
					<div id="hero-logotype"></div>
				</div>
				<div id="hero-text">
					<h1>Applications on a global fleet.</h1>
					<h3>As simple as a Single Machine.</h3>
					<div id="hero-btns">
						<a class="h-btn light lrg has-caret intro" href="/intro">Learn More<span class="h-caret"></span></a>
						<a class="h-btn green lrg has-caret has-border try" href="">Try Nomad<span class="h-caret"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="subhero-banner" class="banner gray-banner">
	<div class="container">
		<div class="row">
			<div class="col col-md-12">
				<p>Read about how Hashicorp’s scheduler, Nomad, works on our blog</p>
				<a class="blog-btn h-btn gray sml fill has-caret" href="/intro">Blog<span class="h-caret"></span></a>
			</div>
		</div>
	</div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<div class=" col-md-12">
				<h2 class="feature-section-title">Overview</h2>

				<div id="deploy" class="feature">
					<div class="feature-header">
						<h3>Deploy to any cloud</h3>
						<p>Deploy Applications and Docker containers across datacenters to any cloud</p>
					</div>
					<div class="feature-footer">
						<p>Phasellus quis arcu nec turpis aliquet malesuada. Pellentesque auctor fermentum cursus.</p>
						<span class="docker-outline-logo"></span>
					</div>
				</div> <!-- .feature -->

				<div id="partners" class="feature">
					<div class="feature-header right clearfix">
						<div class="row">
							<h3 class="">Use your cloud provider with Docker</h3>
						</div>
						<div class="row">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nulla ut orci ultricies viverra.</p>
						</div>
					</div>
					<div class="partner-logos">
						<div class="row">
							<div class="col-md-2 docker-wrap">
								<span class="partner-logo docker-logo"></span>
							</div>
							<div class="col-md-10 cloud-wrap clearfix">
								<span class="partner-logo aws-logo"></span>
								<span class="partner-logo google-logo"></span>
								<span class="partner-logo microsoft-logo"></span>
								<span class="partner-logo engineyard-logo"></span>
							</div>
						</div>
					</div>
				</div> <!-- .feature -->

				<div id="maintain" class="feature">
					<div class="feature-header">
						<h3>Manage constraints and workload requirements</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nulla ut orci ultricies viverra.</p>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->

				<div id="healing" class="feature">
					<div class="feature-header right clearfix">
						<div class="row">
							<div class="col-xs-12">
								<h3>Automatic machine failure healing and blue/green deployments</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nulla ut orci ultricies viverra.</p>
							</div>
						</div>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->

				<div id="density" class="feature">
					<div class="feature-header">
						<h3>Increase density and reduce cost</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit nulla ut orci ultricies viverra.</p>
					</div>
					<div class="feature-graphic"></div>
				</div> <!-- .feature -->

			</div> <!-- .col -->
		</div> <!-- .row -->
	</div> <!-- /container -->
</div> <!-- #content -->

<div id="cta-banner" class="banner green-banner">
	<div class="container">
		<div class="row">
			<div class="col col-md-12">
				<p>Completely free and open source.</p>
				<a class="blog-btn h-btn green lrg fill has-caret" href="/intro">Try Nomad<span class="h-caret"></span></a>
			</div>
		</div>
	</div>
</div>
