{{page-title "Secure Variables: " this.model.path}}
{{#each this.breadcrumbs as |crumb|}}
  <Breadcrumb @crumb={{crumb}} />
{{/each}}
<section class="section single-variable">
  {{outlet}}
</section>
 