{{page-title "Secure Variables: " this.model.path}}
<Breadcrumb @crumb={{this.breadcrumb}} />
<section class="section">
  {{log "logger" this.model.items}}
      {{!-- <ListTable data-test-eval-table @source={{this.model.items}} as |t|>
        <t.body as |row|>
          <tr
            style="cursor: pointer;"
            tabindex="0"
          >
          <td></td>
          </tr>
        </t.body>
        </ListTable>
 --}}
</section>

