{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Variables: " this.model.path}}
{{#each this.breadcrumbs as |crumb|}}
  <Breadcrumb @crumb={{crumb}} />
{{/each}}
<section class="section single-variable">
  {{#if this.isForbidden}}
    <ForbiddenMessage />
  {{else}}
    {{outlet}}
  {{/if}}
</section>
 