.testimonial {
  padding-top: 48px;
  padding-bottom: 32px;

  &:last-of-type {
    padding-bottom: 60px;
  }
}

.userInfo {
  display: flex;
  align-items: center;

  @media (width < 940px) {
    max-width: 630px;
  }

  @media (width < 630px) {
    flex-direction: column;
    text-align: center;
  }
}

.userLogo {
  width: 210px;
  flex-shrink: 0;

  @media (width >= 630px) {
    margin-right: 48px;
  }
}

.userDetails {
  composes: g-type-label from global;

  @media (width < 630px) {
    max-width: 400px;
  }
}
