.g-features-list {
  padding-top: 64px;
  padding-bottom: 24px;
  & h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
  }

  & .intro-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;

    & a {
      color: var(--nomad);
    }
  }

  & .items-container {
    display: flex;
    flex-wrap: wrap;

    & .item {
      border: 1px solid var(--gray-6);
      flex-basis: calc(50% - 16px);
      margin-bottom: 32px;
      padding: 40px;
      display: flex;

      @media (max-width: 468px) {
        flex-direction: column;
      }

      & h4 {
        margin: 0;
        margin-bottom: 8px;
      }

      & p {
        margin: 0;
      }

      & a {
        color: var(--nomad);
      }

      & .item-icon img {
        width: 72px;
        height: 72px;
        margin-right: 32px;

        @media (max-width: 468px) {
          margin-bottom: 18px;
        }
      }

      &:nth-child(odd) {
        margin-right: 16px;
      }

      &:nth-child(even) {
        margin-left: 16px;
      }

      @media (max-width: 1200px) {
        padding: 32px;
        & .item-icon img {
          display: flex;
          width: 50px;
          height: 50px;
          margin-right: 24px;
        }
      }

      @media (max-width: 991px) {
        flex-basis: 100%;
        padding: 32px;
        margin-bottom: 36px;

        & .item-icon img {
          display: flex;
          width: 72px;
          height: 72px;
          margin-right: 24px;
        }

        &:nth-child(odd) {
          margin-right: 0;
        }

        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
  }
}
