{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<div class="tabs is-subnav" {{did-insert this.keyboard.registerNav type="subnav"}} {{will-destroy this.keyboard.unregisterSubnav}}>
  <ul>
    <li><LinkTo @route="access-control.index" @activeClass="is-active">Overview</LinkTo></li>
    <li><LinkTo @route="access-control.tokens" @activeClass="is-active">Tokens</LinkTo></li>
    <li><LinkTo @route="access-control.policies" @activeClass="is-active">Policies</LinkTo></li>
    <li><LinkTo @route="access-control.roles" @activeClass="is-active">Roles</LinkTo></li>
  </ul>
</div>
