<ul>
  <li class={{if breadcrumbs "" "is-active"}}>
    {{#link-to "allocations.allocation.fs-root" allocation activeClass="is-active"}}
      / {{!-- FIXME what should this be? --}}
    {{/link-to}}
  </li>
  {{#each breadcrumbs as |breadcrumb|}}
    <li class={{if breadcrumb.isLast "is-active"}}>
      {{#link-to "allocations.allocation.fs" allocation breadcrumb.path activeClass="is-active"}}
        {{breadcrumb.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>