<Breadcrumbs as |bb|>
  {{#each bb as |breadcrumb index|}}
    {{#each breadcrumb.args.crumb as |b|}}
      {{#if b.isPending}}
        <li class="{{if (eq (inc index) this.b.length) "is-active"}}">
          <a href="#" aria-label="loading" data-test-breadcrumb="loading">
            …
          </a>
        </li>
      {{else}}
        {{component (concat "breadcrumbs/" (or b.type "default")) crumb=b}}
      {{/if}}
    {{/each}}
  {{/each}}
</Breadcrumbs>