<table class="table is-striped is-fixed is-compact is-darkened" ...attributes>
  <thead>
    <tr>
      <th class="is-one-third">Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <AttributesSection @attributes={{@attributePairs}} />
  </tbody>
</table>
