<table class="table is-striped is-fixed">
  <thead>
    <td class="is-one-third">Name</td>
    <td>Value</td>
  </thead>
  <tbody>
    {{attributes-section attributes=attributes}}
  </tbody>
</table>
