<nav class="nav is-primary">
  <div class="nav-left">
    <span class="nav-item is-logo">
      <img src="/ui/images/nomad-logo.svg" alt="Nomad" />
    </span>
  </div>
  <div class="nav-right">
    {{#if (eq config.environment "development")}}
      {{#link-to "freestyle" class="nav-item"}}Styleguide{{/link-to}}
    {{/if}}
    <a href="https://nomadproject.io/docs" class="nav-item">Documentation</a>
    {{#link-to "settings.tokens" class="nav-item"}}ACL Tokens{{/link-to}}
  </div>
</nav>
<nav class="nav is-secondary">
  <div class="nav-left breadcrumbs">
    <div class="nav-item is-gutter"></div>
    <div class="nav-item">
      {{yield}}
    </div>
  </div>
</nav>
