<nav class="navbar is-primary">
  <div class="navbar-brand">
    <span class="navbar-gutter-toggle" aria-label="menu" onclick={{action onHamburgerClick}}>
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <rect x="0" y="0" width="100" height="16" />
        <rect x="0" y="42" width="100" height="16" />
        <rect x="0" y="84" width="100" height="16" />
      </svg>
    </span>
    <span class="navbar-item is-logo">
      <img src="/ui/images/nomad-logo.svg" alt="Nomad" />
    </span>
  </div>
  <div class="navbar-end">
    {{#if (eq config.environment "development")}}
      {{#link-to "freestyle" class="navbar-item"}}Styleguide{{/link-to}}
    {{/if}}
    <a href="https://nomadproject.io/docs" class="navbar-item">Documentation</a>
    {{#link-to "settings.tokens" class="navbar-item"}}ACL Tokens{{/link-to}}
  </div>
</nav>
<div class="navbar is-secondary">
  <div class="navbar-item is-gutter"></div>
  <nav class="breadcrumb is-large">
    <ul>
      {{yield}}
    </ul>
  </nav>
</div>
