<nav class="nav is-primary">
  <div class="nav-left">
    <span class="nav-item is-logo">
      <img src="/ui/images/nomad-logo.svg" alt="Nomad" />
    </span>
  </div>
  <div class="nav-right">
    {{#if (eq config.environment "development")}}
      {{#link-to "freestyle" class="nav-item"}}Styleguide{{/link-to}}
    {{/if}}
    <a href="https://nomadproject.io/docs" class="nav-item">Documentation</a>
    {{#link-to "settings.tokens" class="nav-item"}}ACL Tokens{{/link-to}}
  </div>
</nav>
<div class="nav is-secondary">
  <div class="nav-item is-gutter"></div>
  <nav class="breadcrumb is-large">
    <ul>
      {{yield}}
    </ul>
  </nav>
</div>
