{{#each annotatedVersions as |record|}}
  {{#if record.meta.showDate}}
    <li class="timeline-note">
      {{moment-format record.version.submitTime "MMMM D, YYYY"}}
    </li>
  {{/if}}
  <li class="timeline-object">
    {{job-version version=record.version verbose=verbose}}
  </li>
{{/each}}
