{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#each this.annotatedDeployments key="deployment.id" as |record|}}
  {{#if record.meta.showDate}}
    <li data-test-deployment-time class="timeline-note">
      {{#if record.deployment.version.submitTime}}
        {{format-date record.deployment.version.submitTime}}
      {{else}}
        Unknown time
      {{/if}}
    </li>
  {{/if}}
  <li data-test-deployment class="timeline-object">
    <JobDeployment @deployment={{record.deployment}} />
  </li>
{{/each}}
