<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Search jobs..." value={{_searchTerm}} oninput={{action "setSearchTerm"}}>
  </div>
  <div class="control">
    <a class="button is-primary">Search</a>
  </div>
</div>
