<div class="tabs is-subnav">
  <ul>
    <li>{{#link-to "servers.server.index" server activeClass="is-active"}}Overview{{/link-to}}</li>
    <li>{{#link-to "servers.server.monitor" server activeClass="is-active"}}Monitor{{/link-to}}</li>
  </ul>
</div>
