<div class="tabs is-subnav">
  <ul>
    <li><LinkTo @route="servers.server.index" @model={{server}} @activeClass="is-active">Overview</LinkTo></li>
    <li><LinkTo @route="servers.server.monitor" @model={{server}} @activeClass="is-active">Monitor</LinkTo></li>
  </ul>
</div>
