<div class="tabs is-subnav">
  <ul>
    <li><LinkTo @route="allocations.allocation.task.index" @models={{array task.allocation task}} @activeClass="is-active">Overview</LinkTo></li>
    <li><LinkTo @route="allocations.allocation.task.logs" @models={{array task.allocation task}} @activeClass="is-active">Logs</LinkTo></li>
    <li><LinkTo @route="allocations.allocation.task.fs-root" @models={{array task.allocation task}} class={{if filesLinkActive "is-active"}}>Files</LinkTo></li>
  </ul>
</div>
