<div class="topo-viz" {{did-insert this.loadNodes}}>
  {{#if this.isLoaded}}
    {{#each this.datacenters as |dc|}}
      <TopoViz::Datacenter @datacenter={{dc.name}} @nodes={{dc.nodes}} @heightScale={{this.heightScale}} />
    {{/each}}
  {{/if}}
</div>
