<div id="announcement-bnr" class="-absolute">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <span class="tagline">Nomad Annoucement!</span>
          <a class="link-highlight" href="https://www.hashicorp.com/">
            Find out more <span class="hcaret"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
