<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <ul class="nav docs-sidenav">
      <li<%= sidebar_current("downloads-nomad") %>>
      <a href="/downloads.html">Download Nomad</a>
      </li>

      <li>
        <a href="/guides/operations/install/index.html#compiling-from-source">Build from Source</a>
      </li>
    </ul>
  <% end %>

  <%= yield %>
<% end %>
