# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
<<<<<<<< HEAD:ui/.prettierignore
========
/.env*
/.pnp*
/.sass-cache
/.eslintcache
/connect.lock
>>>>>>>> b10c57ffd (v3.20.2...v3.24.0):ui/.gitignore
/coverage/
!.*
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
