{{! template-lint-disable no-inline-styles }}
<div class="boxed-section is-small">
  <div class="boxed-section-body inline-definitions"> 
  <div style="">{{{@job.renderDescription}}}</div>
</div>
</div>