<span class="color-swatch {{if @datum.className @datum.className (concat "swatch-" @index)}}" />
<span class="value" data-test-legend-value="{{@datum.className}}">{{@datum.value}}</span>
<span class="label">{{@datum.label}}</span>
