{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{#if @job.meta.structured}}
  <div class="boxed-section">
    <div class="boxed-section-head">
      Meta
    </div>
    <div class="boxed-section-body is-full-bleed">
      <AttributesTable
        data-test-meta
        @attributePairs={{@job.meta.structured}}
        @class="attributes-table" />
    </div>
  </div>
{{/if}}