<div class="boxed-section">
  <div class="boxed-section-head">Meta</div>
  <div class="boxed-section-body is-full-bleed">
    <ListTable
      @source={{this.paramMap}} as |t| >
      <t.head>
        <th>Name</th>
        <th>Value</th>
        <th>Required</th>
      </t.head>
      <t.body as |row|>
        <tr>
          <td>{{row.model.name}}</td>
          <td>{{row.model.value}}</td>
          <td>{{row.model.required}}</td>
        </tr>
      </t.body>
    </ListTable>
  </div>
</div>