.g-featured-slider-section {
  background: var(--black);
  padding-top: 128px;
  padding-bottom: 128px;
  color: var(--white);

  & h2 {
    margin-top: 0;
    color: var(--white);
    text-align: center;
  }
}
