{{title "Exec"}}

<div>
  tasks
  <ul>
    {{#each model.taskGroups as |taskGroup|}}
      <li data-test-task-group>
        {{task-group-parent taskGroup=taskGroup}}
      </li>
    {{/each}}
  </ul>
</div>