{{title "Exec"}}
<nav class="navbar is-popup">
  <div class="navbar-brand">
    <div class="navbar-item is-logo">
      {{partial "partials/nomad-logo"}}
    </div>
  </div>

  <div class="navbar-end">
    <a href="https://nomadproject.io/docs" target="_blank" rel="noopener" class="navbar-item">Documentation</a>
    {{x-icon "lock-closed"}}
  </div>
</nav>

<div class="tree-and-terminal loading">
  {{partial "partials/loading-spinner"}}
</div>