{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

{{page-title "Exec"}}
<nav class="navbar is-popup">
  <div class="navbar-brand">
    <div class="navbar-item is-logo">
      <NomadLogo />
    </div>
  </div>

  <div class="navbar-end">
    <a href="https://nomadproject.io/docs" target="_blank" rel="noopener noreferrer" class="navbar-item">Documentation</a>
    {{x-icon "lock-closed"}}
  </div>
</nav>

<div class="exec-window loading">
  <LoadingSpinner />
</div>