<div id="styleguide">
  <FreestyleGuide @title="Nomad UI" @subtitle="Styles and Patterns">
    <FreestyleSection @name="Theme" as |section|>
      <section.subsection @name="Font Stacks">
        <Freestyle::SgFontStacks />
      </section.subsection>
      <section.subsection @name="Text Sizing">
        <Freestyle::SgFontSizing />
      </section.subsection>
      <section.subsection @name="Colors">
        <Freestyle::SgColors />
      </section.subsection>
    </FreestyleSection>
    <FreestyleSection @name="Components" as |section|>
      <section.subsection @name="Accordion">
        <Freestyle::SgAccordion />
      </section.subsection>
      <section.subsection @name="Alerts">
        <Freestyle::SgAlerts />
      </section.subsection>
      <section.subsection @name="Boxed section">
        <Freestyle::SgBoxedSection />
      </section.subsection>
      <section.subsection @name="Breadcrumbs">
        <Freestyle::SgBreadcrumbs />
      </section.subsection>
      <section.subsection @name="Buttons">
        <Freestyle::SgButtons />
      </section.subsection>
      <section.subsection @name="Copy Button">
        <Freestyle::SgCopyButton />
      </section.subsection>
      <section.subsection @name="Diff Viewer">
        <Freestyle::SgDiffViewer />
      </section.subsection>
      <section.subsection @name="Dropdown">
        <Freestyle::SgDropdown />
      </section.subsection>
      <section.subsection @name="Gutter menu">
        <Freestyle::SgGutterMenu />
      </section.subsection>
      <section.subsection @name="Header">
        <Freestyle::SgHeader />
      </section.subsection>
      <section.subsection @name="Inline definitions">
        <Freestyle::SgInlineDefinitions />
      </section.subsection>
      <section.subsection @name="JSON Viewer">
        <Freestyle::SgJsonViewer />
      </section.subsection>
      <section.subsection @name="Log Stream">
        <Freestyle::SgLogStream />
      </section.subsection>
      <section.subsection @name="Metrics">
        <Freestyle::SgMetrics />
      </section.subsection>
      <section.subsection @name="Multi-select dropdown">
        <Freestyle::SgMultiSelectDropdown />
      </section.subsection>
      <section.subsection @name="Page tabs">
        <Freestyle::SgPageTabs />
      </section.subsection>
      <section.subsection @name="Page title">
        <Freestyle::SgPageTitle />
      </section.subsection>
      <section.subsection @name="Proxy Tag">
        <Freestyle::SgProxyTag />
      </section.subsection>
      <section.subsection @name="Search box">
        <Freestyle::SgSearchBox />
      </section.subsection>
      <section.subsection @name="Table">
        <Freestyle::SgTable
          @sortProperty={{sortProperty}}
          @sortDescending={{sortDescending}}
          @currentPage={{currentPage}}
        />
      </section.subsection>
      <section.subsection @name="Table, Configuration">
        <Freestyle::SgTableConfiguration />
      </section.subsection>
      <section.subsection @name="Timeline">
        <Freestyle::SgTimeline />
      </section.subsection>
      <section.subsection @name="Two-step Button">
        <Freestyle::SgTwoStepButton />
      </section.subsection>
    </FreestyleSection>
    <FreestyleSection @name="Charts" as |section|>
      <section.subsection @name="Distribution Bar">
        <Freestyle::SgDistributionBar />
      </section.subsection>
      <section.subsection @name="Jumbo Distribution Bar">
        <Freestyle::SgDistributionBarJumbo />
      </section.subsection>
      <section.subsection @name="Line Chart">
        <Freestyle::SgLineChart />
      </section.subsection>
      <section.subsection @name="Progress Bar">
        <Freestyle::SgProgressBar />
      </section.subsection>
      <section.subsection @name="Stats Time Series">
        <Freestyle::SgStatsTimeSeries />
      </section.subsection>
    </FreestyleSection>
  </FreestyleGuide>
</div>