<nav class="nav is-primary">
  <div class="nav-left">
    <span class="nav-item is-logo">
      <img src="/ui/images/nomad-logo.svg" alt="Nomad" />
    </span>
    {{#link-to "jobs" class="nav-item"}}Jobs{{/link-to}}
    {{#link-to "nodes" class="nav-item"}}Nodes{{/link-to}}
  </div>
  <div class="nav-right">
    {{#unless (eq config.environment "production")}}
      {{#link-to "freestyle" class="nav-item"}}Styleguide{{/link-to}}
    {{/unless}}
    <a href="https://nomadproject.io/docs" class="nav-item">Documentation</a>
  </div>
</nav>
