{{title "Cluster Topology"}}
<PageLayout>
  <section class="section is-full-width">
    <div class="empty-message">
      <h3 class="empty-message-headline">Cluster topology visualization goes here</h3>
      <p class="empty-message-body">:D</p>
    </div>
  </section>
</PageLayout>
