{{title "Cluster Topology"}}
<PageLayout>
  <section class="section is-full-width">
    <div class="boxed-section">
      <div class="boxed-section-head is-hollow">Cluster Metrics</div>
      <div class="boxed-section-body">
        Aggregate metrics go here.
      </div>
    </div>
    <TopoViz @nodes={{this.model.nodes}} @allocations={{this.model.allocations}} />
  </section>
</PageLayout>
